@import "src/styles/variables";


.columns {
	@include from($desktop) {
		min-height: 40rem;
	}
}

.image {
	height: 100%;

	border-radius: 1.5rem;
	box-shadow: $shadow-huge;

	@include until($tablet) {
		padding-top: 60%;
	}
}

.newsContainer {
	max-width: 70rem;

	margin: 0 auto;
	margin-top: 2rem;
	margin-bottom: 10rem;

	@include from($tablet) {
		margin-top: 5rem;
	}

	.newsItem {
		overflow: hidden;
		border-radius: 1.5rem;

		margin-bottom: 4rem;

		background: $white;

		box-shadow: 0 0.25rem 0.5rem rgba($black, 0.25);

		transition: box-shadow 250ms ease-in-out,
		transform 250ms ease-in-out;

		&.interactive {
			cursor: pointer;

			&:hover {
				box-shadow: 0 0.5rem 3.5rem rgba($black, 0.25);

				transform: scale(1.02);
			}
		}

		.image {
			border-radius: 0;

			@include from($tablet) {
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
			}

			padding-top: 0;

			box-shadow: none;
		}

		.content {
			padding: 2rem;

			color: $dark;
		}

		.button {
			padding: 1.3rem !important;
		}
	}
}
