.button {
	font-weight: bold;

	border-radius: 0.5rem !important;
	box-shadow: 0 0.1rem 0.25rem rgba(0, 0, 0, 0.25) !important;

	transition:
		box-shadow 250ms ease-in-out,
		transform 250ms ease-in-out;

	&:hover {
		box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.15) !important;
		transform: translateY(-0.15rem);
	}
}

.awssld__controls {
	--slider-height-percentage: 60%;
	--slider-transition-duration: 700ms;
	--organic-arrow-thickness: 5px;
	--organic-arrow-border-radius: 10px;
	--organic-arrow-height: 42px;
	--organic-arrow-color: #ffffff;
	--control-button-width: 10%;
	--control-button-height: 25%;
	--control-button-background: transparent;
	--control-bullet-color: #62a4fa;
	--control-bullet-active-color: #538bd5;
	--loader-bar-color: #851515;
	--loader-bar-height: 6px;
}