@import "../../../../../styles/variables";


.list {
	position: relative;

	display: flex;
	flex-direction: column;

	@include until ($tablet) {
		display: none;
	}

	.item {
		margin: 1.5rem 1.5rem 0.25rem;
		padding: 1rem 1rem 1rem 1.3rem;

		border-radius: 0.75rem;

		overflow: hidden;

		color: rgba($dark, 0.8);

		cursor: pointer;

		box-shadow:
			0 0.1rem 0.5rem rgba($black, 0.1),
			0 2px 4px rgba($black, 0.2);

		@include until($tablet) {
			padding: 0.75rem;
			margin: 0.75rem 0.75rem 0.25em;
		}

		&:last-child {
			border-bottom: none;
			margin-bottom: 1.5rem;

			@include until($tablet) {
				margin-bottom: 0.75rem;
			}
		}

		&:nth-child(odd) {
			background: rgba($primary, 0.05);
		}

		&:after {
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;
			z-index: 1;

			content: "";

			width: 0.75rem;

			background: rgba($dark, 0.8);

			transform: translateX(100%);

			transition: transform 200ms ease-in-out;
		}

		&:hover,
		&.active {
			position: relative;

			background: rgba($primary, 1);

			&:after {
				transform: translateX(0);
			}

			.content {
				opacity: 0.9;
			}

			* {
				color: inherit;
			}
		}

		.title {
			color: inherit;

			margin-bottom: 0;

			@include until($tablet) {
				font-size: $size-6;
			}
		}

		.content {
			margin-top: 1rem;

			hyphens: auto;

			opacity: 0.7;

			@include until($desktop) {
				display: none;
			}
		}
	}
}