@import "src/styles/variables";


.navContainer {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10000;

	width: 100%;

	padding: 1rem 0 4rem;

	background:
			linear-gradient(
				to bottom,
				rgba($text, 0.7),
				rgba($text, 0)
			);

	.nav {
		background: transparent;

		.logo {
			max-height: 4rem !important;
			width: auto;

			margin-bottom: 0;
		}

		.navItems {
			align-items: center;
		}
	}
}